<mat-toolbar color="primary" title="MCBBS 问答版月度活动管理后台">
  <button mat-icon-button [matMenuTriggerFor]="mqcMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  {{title}}
</mat-toolbar>

<mat-menu #mqcMenu="matMenu">
  <button mat-menu-item (click)="openAboutDialog()">
    <mat-icon>info</mat-icon>About
  </button>
</mat-menu>

<mat-card>
  <div>
    <h1>当前前十</h1>
    <img src="/rank" />
  </div>
  <div>
    <h1>爱心放弃公示</h1>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8" cdkAutosizeMaxRows="24" cols="36"
    placeholder="Input command(s)" readonly [ngModel]="abandonedHeartBBCode"></textarea>
  </div>
</mat-card>