mat-card {
    max-width: 90%;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    width: 50%;
    min-width: 256px; 
    margin: 8px;
}

mat-checkbox {
    margin: 8px;
}

.fullWidth {
    width: 100%;
}

table {
    width: 90%;
    margin: 16px auto;
}